<!DOCTYPE html>

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <title>test05</title>

    <style>
        button {
            background-color: aqua;
            border-color: aqua;
            font-size: medium;
            color: blue;
        }

        a {
            color: red;
        }
    </style>
  </head>
  <body>
    <div id="app">
        <input type="text" v-model="name" placeholder="이름 입력">
        <button @click="send">전송</button>
        <input type="text" v-model="name" placeholder="이름 입력222" @keyup="send">
        <input type="text" v-model="name" placeholder="이름 입력333" @keyup.13="send">
        <input type="text" v-model="name" placeholder="이름 입력444" @keyup.enter="send">
    </div>

    <script>
        const app = new Vue ({
            el: '#app',
            data: {
                name: ""
            },
            methods: {
                send() {
                    alert(this.name)
                }
            }
        });
    </script>
</body>
</html>